{{ attach_library('classy/node') }}
{{ title_prefix }}
{{ title_suffix }}
{% if logged_in == 1 %}
    <div class="actiontab">
        <a href="node/{{ node.id }}/edit">MODIFY</a>
    </div>
{% endif %}

